body {
    background-color: rgb(112, 31, 45);
    color:pink;
    text-align: center;
    

}

h2 {
    color:rgb(196, 83, 102) (0, 255, 179);
    font: bold;
    font-family: Times New Roman, sans-serif;
}
 nav a {
    list-style-type: none;
 }

 nav ul {
    font-size: 30px;
 }
    
body {
    font-size: 20px;
}
   

header {
    padding: 5px;
    background-color: pink;
    text-align: center;
    padding: 10px;
    outline: 2px solid rgb(99, 187, 245);



}

 p{
    background-color: rgb(219, 73, 121);
    weight: 400;
    padding: 10px;
    margin: 50px;
    section{
        border: 2px solid color;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
        outline: 50px rgb(173, 92, 106);
     }
    }
.about{
    color: rgb(85, 154, 233);
}

.services{
    color: rgb(121, 34, 148);




    
    

}


 
